{% extends "weekly_planner/base.html" %}

{% load static %}

{% block content %}

<div class = "container-fluid">
  <div class="row justify-content-center">
    <div class='col-lg-6 text-center'>
      <h1> This is your plan </h1>
      <hr>
    </div>
  </div>
</div>

<br>
<br>


{% for key, value in recipes.items %}
<div class = "container-fluid">
  <div class="row justify-content-center">
    <div class='col-lg-6 text-center'>

      <h3>{{key}}</h3>
      <p>{{ value.ingredients_list }}<p>
      <p><a href= {{ value.url }} target=_blank>Go to recipe</a>

    </div>
  </div>
</div>
{% endfor %}

<!-- Shopping List     -->
<!-- ----------------------------------------- -->

<br>
<div class = "container-fluid">
  <div class="row justify-content-center">
    <div class='col-lg-6 text-center'>

<style>
#shoppingList {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}
</style>

<hr>

<button type="home_button" class="btn btn-dark"id="home_button" onclick="shopList()">Toggle Shopping List</button>

      <div id="shoppingList">
        <h2>Shopping List</h2>
        <br>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ingredient</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit Measure</th>
            </tr>
          </thead>
          <tbody>

              {% for key, value in shopping_list.items %}

              <tr>
                <th scope="row">#</th>
                <td>{{key}}</td>
                <td>{{value.quantity}}</td>
                <td>{{value.unit_measure}}</td>
              </tr>

              {% endfor %}
          </tbody>
        </table>
      </div>


<script>
function shopList() {
  var x = document.getElementById("shoppingList");

  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

<br>
<br>
<button class="btn btn-primary hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>

<script> function myFunction() {
    window.print();
}
</script>

<br>
<br>
<a href="{% url 'home' %}"> Back to Home </a>


{% endblock %}
